html,body,header,section,article,div,nav,span,figure,img,ul,li,main,section,h1,h2,h3,a,p,input,button{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
/**
Branco: #FFFFFF
Azul Claro: #007aff
Azul Escuro: #00043e
Cinza: #303030
Cinza Claro: #818181
*****************

 **/
:root{
  --headerColor:#00043e;
  --imgDesktopSize:300px;
  --imgMobileSize:100%;

}
body{ 
  background-color:grey;
  }
  header{
    background-color:var(--headerColor)
  }
.topo .large-container figure img{
  width:100px;
  }
@media screen and (min-width:768px){
  body{
    background-color:red;
  }
}
